---
layout: default
---

<div class="reveal">
    {% assign sorted_pages = site.pages | sort:"name" %}
    <div class="slides">
    {% for slide in sorted_pages %}
        {% if slide.layout == 'slide' %}
        <section>
            {{ slide.content }}
        </section>
        {% endif %}
    {% endfor %}
    </div>
</div>

<script type="text/javascript" src="assets/js/reveal.min.js"></script>
<script type="text/javascript">
Reveal.initialize({
    controls: false,
    progress: true,
    history: true,
    center: true
});
</script>


